.main-grid{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
    padding: 0 135px;
}

.main-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-grid-text-first{
    grid-column: 1/2;
    grid-row: 1/2;
}

.main-grid-text-second{
    grid-column: 4/6;
    grid-row: 1/2;
}

.main-grid-img-circle{
    grid-column: 1/2;
    grid-row: 2/4;
}

.main-grid-img-man{
    grid-column: 2/4;
    grid-row: 1/3;
}

.main-grid-img-book{
    grid-column: 2/3;
    grid-row: 3/4;
}

.main-grid-img-letter{
    grid-column: 4/5;
    grid-row: 2/3;
}

.main-grid-img-woman{
    grid-column: 3/5;
    grid-row: 3/4;
}

.main-grid-img-trainer{
    grid-column: 5/6;
    grid-row: 2/3;
}

.main-grid-img-windows{
    grid-column: 5/6;
    grid-row: 3/4;
}