.main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text{
    margin: 80px 0px 64px 0px;
    text-align: center;
    color: var(--color-black);
    font-family: var(--font-family-b);
}

.main-text-title,
.main-text-subtitle{
    margin: 0;
}

.main-text-title{
    font-size: 96px;
}

.main-text-fine{
    position: relative;
    color: var(--color-red-dark);
    text-shadow: 0px 4px 0px var(--color-white);
}

.main-text-fine::after{
    content: "";
    position: absolute;
    left: -5%;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 110%;
    height: 51px;
    border-radius: 999px;
    background: var(--color-green-light);
}

.main-text-subtitle{
    font-size: 64px;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
    width: 70%;
}

.main-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.main-grid p{
    font-family: var(--font-family-r);
    font-size: 18px;
    line-height: 32px;
    margin: 0;
}

.main-grid-text-first{
    grid-column: 1/2;
    grid-row: 1/2;
}

.main-grid-text-second{
    grid-column: 4/6;
    grid-row: 1/2;
    align-self: end;
}

.main-grid-img-circle{
    grid-column: 1/2;
    grid-row: 2/4;
}

.main-grid-img-man{
    grid-column: 2/4;
    grid-row: 1/3;
}

.main-grid-img-book{
    grid-column: 2/3;
    grid-row: 3/4;
}

.main-grid-img-letter{
    grid-column: 4/5;
    grid-row: 2/3;
}

.main-grid-img-woman{
    grid-column: 3/5;
    grid-row: 3/4;
}

.main-grid-img-trainer{
    grid-column: 5/6;
    grid-row: 2/3;
}

.main-grid-img-windows{
    grid-column: 5/6;
    grid-row: 3/4;
}

.main-button {
    width: 240px;
    height: 62px;
    margin-top: 40px;
}

.main-background-rectangle, 
.main-background-dots{
    position: absolute;
    right: 0;
    z-index: -2;
}

.main-background-dots{
    top: 18px;
}

.main-background-wave{
    display: none;
    opacity: .75;
    width: 100%;
    position: absolute;
    z-index: -5;
}

@media(max-width: 1100px){
    .main-text-title{
        font-size: 7vw;
    }
    .main-text-subtitle{
        font-size: 4.5vw;
    }
    .main-text-fine::after{
        height: 45%;
    }
    .main-background-rectangle{
        width: 90vw;
    }
    .main-background-dots{
        width: 15vw;
    }
    .main-grid{
        width: 70vw;
        grid-gap: 3vw;
    }
    .main-grid-text-first, .main-grid-text-second{
        font-size: 20px;
    }
    .main-grid p{
        font-size: 16px;
    }
}

@media(max-width:800px){
    .main-grid{
        width: 95vw;
    }
}

@media(max-width:500px){
    .main{
        overflow: hidden;
    }
    .main-text-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-text-title span{
        font-family: var(--font-family-m);
    }
    .main-text-title{
        font-size: 13vw;
    }
    .main-text-subtitle{
        margin-top: 16px;
        font-family: var(--font-family-m);
        font-size: 5vw;
    }
    .main-background-rectangle{
        width: 100vw;
    }
    .main-background-dots{
        width: 15vw;
    }
    .main-button{
        width: 200px;
        height: 52px;
        font-family: var(--font-family-m);
    }
    .main-background-wave{
        display: initial;
        top: -150px;
    }
    .main-grid p{
        font-size: 13px;
    }
}